*{
	font-family: "Arial", monospace;
	font-size: 20px;
}

#external
{
	color: yellow;
}

h1{
	font-size: 2rem;
}

#bootcamp-learning-list{
	text-transform: uppercase;
}

.languages-learned{
	background-color: pink;
}

li[value]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

#image+ol{
		list-style-type: none;

}

section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

ol ~ #last{
	text-align: center;
}

#others > ol{
	letter-spacing: 5px;
}